
.navigation {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .navigation-button {
    padding: 6px 22px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    transition: color 250ms, background-color 250ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      color: var(--second-bottomc);
      background-color: var(--bottomc);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
  
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      justify-content: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  
  .navigation-item:not(:last-child) {
    margin-right: 8px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  