.text-content {
    /* padding-top: 60px;
    padding-bottom: 60px; */
  }

  .peculiarities__list {
    margin-left: -30px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
      margin-bottom: -30px;
    }
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  
  .peculiarities__item {
    margin-left: 30px;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);   
    }
    @media screen and (max-width: 1200px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
    }
  }

  .peculiarities__icon-wrap {
   display: flex;
   justify-content: center;
   background-color: #F5F4FA;
   height: 120px;
   align-items: center;
  }


  .peculiarities__top {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .peculiarities__text {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }