
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms, visibility 250ms;
  }
  
  .backdrop.is-hidden .modal {
    transform: scale(0) rotate(-290deg);
  }
  
  .modal {
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    transition: transform 250ms;
    transform: skale(1) rotate(0);
    padding: 40px 39px 40px 41px;
    @media screen and (max-width: 550px) {
      width: 100%;
      height: auto;
    }
    @media screen and (max-width: 1199px) {
     max-width: 450px;
     
    }
  }
  
  .modal-button {
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-self: center;
    align-items: center;
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  
  .modal-button:hover {
    fill: #2196f3;
  }
  
  .modal-button:focus {
    fill: #2196f3;
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  
  .modal-field {
    margin-bottom: 8px;
    
  }
  
  .modal-input-wrap {
    position: relative;
    margin-top: 4px;
  }
  
  .input-icons {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms;
    fill: #212121;
  }
  
  .modal-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    padding-left: 29px;
    outline: none;
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  /*
  .modal-input::placeholder {
    border-color: rgba(33, 33, 33, 0.2);
  }
  
  .modal-input:invalid {
    border-color: red;
  }
  
  .modal-input:placeholder-shown {
    border-color: rgba(33, 33, 33, 0.2);
  }*/
  
  .modal-input:focus {
    border-color: #2196f3;
  }
  
  .modal-input:focus + .input-icons {
    fill: #2196f3;
  }
  
  .input-check {
    margin-bottom: 20px;
    
  }
  
  .modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    resize: none;
    margin-top: 4px;
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  
  .modal-text:focus {
    border-color: #2196f3;
  }
  
  .modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .check-text {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.167px;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    
    margin-bottom: 20px;
    
    @media screen and (max-width: 470px) {
      display: flex;
      flex-wrap: wrap;
      font-size: 11px;
    }
    @media screen and (min-width: 470px) and (max-width: 1199px) {
      font-size: 12px;
    }
  }
  
  a {
    color: #2196f3;
  }
  
  .check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 7px;
  }
  
  .input-check:checked + .check-text::before {
    background-image: url(../images/icon-check.jpg);
    border: none;
  }
  
  .modal-send-btn {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: #ffffff;
    height: 50px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
  }
  
  .modal-send-btn:hover,
  .modal-send-btn:focus {
    background-color: #188ce8;
  }
  